{{ define "main" }}
<header class="header">
    <div class="container">
        <h1>{{ .Page.Title }}</h1>
        <p>{{ .Params.Subtitle }}</p>
    </div>
</header>
<main id="main">
    <div class="container">
        <article>
            <ul class="faqs">
                <li>
                    <h2 class="h4">Lorem ipsum dolor sit amet?</h2>
                    <p>Donec pretium dolor mauris, ac sagittis dolor cursus sit amet. Sed euismod, lectus et suscipit facilisis, ligula mi ultricies purus, ac volutpat ex nunc sit amet est.</p>
                </li>
                <li>
                    <h2 class="h4">Lorem ipsum dolor sit amet?</h2>
                    <p>Donec pretium dolor mauris, ac sagittis dolor cursus sit amet. Sed euismod, lectus et suscipit facilisis, ligula mi ultricies purus, ac volutpat ex nunc sit amet est.</p>
                </li>
            </ul>
        </article>
    </div>

    <section class="button-panel">
        <div class="container">
            <h2 class="h3">Need more help<span>?</span></h2>
            <p>
                <a href="{{ .Site.BaseURL }}contact-us" class="cta">Get in touch</a>
            </p>
        </div>
    </section>
</main>
{{ end }}
