{{ define "main" }}
<header class="header">
    <div class="container">
        <h1>{{ .Page.Title }}</h1>
        <p>{{ .Params.Subtitle }}</p>
    </div>
</header>
<main id="main">
    <section class="post-grid insights-list">
        <div class="container">
            <ul class="content-blocks">
                {{ range .Pages }}
                <li>
                    <div style="background-image: url('{{ .Site.BaseURL }}{{ .Params.featured_image }}');">
                        <a href="{{.Permalink}}" aria-label="Read more"></a>
                    </div>
                    <div>
                        <h2 class="h3"><a href="{{.Permalink}}">{{ .Title }}</a></h2>
                        <p class="h6">{{ .PublishDate.Format "2 January 2006" }}</p>
                        <p>{{ .Summary }}&hellip;</p>
                        <p><a href="{{.Permalink}}" class="cta">Read more</a></p>
                    </div>
                </li>
                {{ end }}
            </ul>
        </div>
    </section>
</main>
{{ end }}
