{{ define "main" }}
<header class="header">
    <div class="container">
        <p>{{ .Params.Subtitle }}</p>
        <h1>{{ .Page.Title }}</h1>
    </div>
</header>
<main id="main">
    <section class="service-intro">
        <div class="container">
            <div>
                {{ .Content }}
            </div>
            <figure>
                <img src="{{ .Site.BaseURL }}/img/graphics/{{ .Params.Service_Illustration }}" alt="" aria-hidden="true" focusable="false">
            </figure>
        </div>
    </section>

    <section class="service-details alternate-section">
        <div class="container">
            <div>
                {{ .Params.service_details_left | safeHTML }}
            </div>
            <div>
                {{ .Params.service_details_right | safeHTML }}
                <p><a href="{{ .Site.BaseURL }}/contact-us" class="cta">Get in touch</a></p>
            </div>
        </div>
    </section>

    <!-- <section class="illustration-section">
        <div class="container">
            <figure>
                <img src="{{ .Site.BaseURL }}/img/graphics/abstract-illustration-1.svg" alt="" aria-hidden="true" focusable="false">
            </figure>
            <article>
                <h2 class="h6">Related Impact Story</h2>
                <h3 class="h1"><a href="{{ .Site.BaseURL }}/{{ .Params.Impact_Story_Slug }}">{{ .Params.Impact_Story_Title }}</a></h3>
                <p>{{ .Params.Impact_Story_Excerpt }}</p>
                <a href="{{ .Site.BaseURL }}/{{ .Params.Impact_Story_Slug }}" class="cta">Read more</a>
            </article>
        </div>
    </section> -->

    {{ partial "services-grid" . }}
</main>
{{ end }}
