<section class="services-grid">
    <div class="container">
        <h2>How we can help</h2>
        <ul class="service-block">
            <li>
                <h3 class="h4">Optimise your business processes</h3>
                <ul class="services-list">
                    <li>
                        <a href="{{ .Site.BaseURL }}/digital-strategy">Digital Strategy</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/internet-of-things">Internet of Things</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/analytics-artificial-intelligence">Analytics &amp; Artificial Intelligence</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/technology-transformation">Technology &amp; Transformation</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/digitising-operations">Digitising Operations</a>
                    </li>
                </ul>
                <div aria-hidden="true"><span><img src="{{ .Site.BaseURL }}/img/graphics/arrow-icon.svg" alt="" aria-hidden="true" focusable="false"></span></div>
            </li>
            <li>
                <h3 class="h4">The Strategy Sprint</h3>
                <ul class="services-list">
                    <li>
                        <a href="{{ .Site.BaseURL }}/the-strategy-sprint">Five-day process for capturing and evaluating opportunities to achieve your team&rsquo;s mission. Create alignment and decide what to do next.</a>
                    </li>
                </ul>
                <div aria-hidden="true"><span><img src="{{ .Site.BaseURL }}/img/graphics/arrow-icon.svg" alt="" aria-hidden="true" focusable="false"></span></div>             
            </li>
            <li>
                <h3 class="h4">Legacy system modernisation</h3>
                <ul class="services-list">
                    <li>
                        <a href="{{ .Site.BaseURL }}/enterprise-architecture">Enterprise Architecture</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/experience-design">Experience Design</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/digital-reinvention">Digital Reinvention</a>
                    </li>
                    <li>
                        <a href="{{ .Site.BaseURL }}/infrastructure-and-cloud">Infrastructure &amp; Cloud</a>
                    </li>
                </ul>
                <div aria-hidden="true"><span><img src="{{ .Site.BaseURL }}/img/graphics/arrow-icon.svg" alt="" aria-hidden="true" focusable="false"></span></div>
            </li>
        </ul>
    </div>
</section>
