{{ define "main" }}
<header class="header home-header">
    <div class="container">
        <h1>We&rsquo;re a digital consulting firm</h1>
        <p>We partner with visionary clients who want to grow and thrive in the digital age.</p>
    </div>
</header>
<main id="main">
    {{ partial "services-grid" . }}

    <!-- <section class="illustration-section alternate-section">
        <div class="container">
            <figure>
                <img src="{{ .Site.BaseURL }}/img/graphics/abstract-illustration-1.svg" alt="" aria-hidden="true" focusable="false">
            </figure>
            <article>
                <h2 class="h6">Latest Impact Story</h2>
                <h3 class="h1"><a href="{{ .Site.BaseURL }}/example-story">Four myths about building a software business</a></h3>
                <p>As non-technology companies turn to software-based business models for growth, they will need to avoid common misconceptions.</p>
                <a href="{{ .Site.BaseURL }}/example-story" class="cta">Read more</a>
            </article>
        </div>
    </section> -->

    <section class="client-grid">
        <div class="container">
            <h2>Who we&rsquo;ve worked with</h2>
            <ul>
                <li>
                    <span class="visually-hidden">Fit Property</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/fit-property-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">Split The Bills</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/split-the-bills-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">Pluralsight</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/pluralsight-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">Mina</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/mina-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">Hero Wellbeing</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/hero-wellbeing-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">Rocca Creative</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/rocca-creative-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">WANdisco</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/wandisco-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">Kingkraft</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/kingkraft-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">The Developer Academy</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/the-developer-academy-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">ACRT</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/acrt-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">Arborcision</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/arborcision-logo.png" alt="" aria-hidden="true">
                </li>
                <li>
                    <span class="visually-hidden">RSPCA Sheffield</span>
                    <img src="{{ .Site.BaseURL }}/img/graphics/rspca-sheffield-logo.png" alt="" aria-hidden="true">
                </li>
            </ul>
        </div>
    </section>
</main>
{{ end }}
